body {
    font-family: sans-serif;
    background:linear-gradient(to bottom, #f9f9f9, #90caf9);
    
}



header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

h1 {
    font-size: 35px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 30px;
    height: 30px;
}


.day {
    margin-right: 10px;
    font-weight: bold;
}

.today {
    font-style: italic;
    color: #2f2d2d;
    font-size:30px;
}

.calendar {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 10px;
}

.selected {
    border-bottom: 2px solid #000;
}

.schedule {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time-range {
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.radio-button {
    margin: 0 10px;
    padding: 0 5px;
}


.box{
    padding: 20px; 
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    width:50%;
    border-radius:10px;
    box-shadow: gray 0px 4px 4px;
}

#week{
    font-size:18px;
}

#first{
    background-color:#ffc96c;
}
